.btn-primary {
  background-color: #d8e734;
  padding: 16px 36px;
  border-radius: 50px;
  color: rgb(22, 6, 6);
  font-weight: bold;
}
.btn-primary:hover {
  background-color: #d7e74490;
  border: 2px solid transparent;
  transition: 800ms;
  transition-duration: 1.2s;
  box-shadow: 5px 5px 8px black;
}

